%nav.navbar.navbar-expand-lg.navbar-dark.transition
  .d-flex.justify-content-between
    %a.navbar-brand{href: "/"} PAUL BRIAN
    .menu-container.d-flex
      .menu-item
        %a{href: "#welcome-section"} Home
      .menu-item 
        %a{href: "#about-section"} About
      .menu-item 
        %a{href: "#services-section"} Services
      .menu-item 
        %a{href: "#contact-section"} Contact