nav {
  position: fixed !important;
  background-color: rgba(10, 10, 10, 0);
  width: 100%;
  z-index: 99999;
  padding: 0 !important;

  .navbar-brand {
    font-weight: bold;
    letter-spacing: 5px;
  }

  .d-flex {
    width: 100%;
    padding: 5px 0 5px 3% !important;
  }

  .menu-container {
    width: fit-content;

    .menu-item {
      width: 8vw;
      max-width: 110px;
      color: white !important;
      position: relative;

      a {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);

        color: white;
        text-decoration: none;

        i {
          font-size: 20px;
        }
      }
    }
  }

  .navbar-toggler-icon {
    display: none;
    margin-right: 3%;
  }

  .collapse-navbar-menu-container {
    height: 0;
    overflow: hidden;
  }
}

nav.show {
  background-color: rgba(10, 10, 10, 1);
  // transition: background-color 1s linear;
}

nav.transition {
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.alert-container {
  position: fixed !important;
  background-color: rgba(10, 10, 10, 0);
  width: 100%;
  z-index: 99999;

  margin-top: 60px;
  margin-left: 20px;
  width: fit-content;

  .alert {
    div {
      margin-right: 20px;
    }
  }
}

@media (max-width: 960px) {
  nav {
    .menu-container {
      display: none !important;
    }

    .navbar-toggler-icon {
      display: block;
      margin-top: 6px;
      cursor: pointer;
    }

    .collapse-navbar-menu-container {
      overflow: hidden;
      transition: all .5s ease-in-out;
      height: 0;

      width: 100%;
      background-color: rgba(10, 10, 10, 1);

      a {
        text-decoration: none;

        .menu-item {
          width: 100%;
          color: white !important;
          font-size: 17px;
          padding: 5px 3% 10px 3% !important;
        }
      }

      .menu-item:hover {
        background-color: rgba(71, 71, 71, 0.1);
      }

    }

    .show-collapse {
      height: 162px
    }
  }
}