#web-pages-index{data: {controller: 'web_pages_index', action: 'click->web_pages_index#close_nav_collapse'}}
  #welcome-section 
    .bg
    .bg-overlay
    .text-container 
      .image 
        = image_tag asset_path("dp.JPG")
      .name-text{style: 'margin-top:10px'}
        Paul Brian Marcuelo 
      .label-text
        Web Developer &nbsp; â— &nbsp; API Developer &nbsp; â— &nbsp; Mobile Developer
      .reg-text{style: 'margin-top:50px'} 
        -# I'm a freelancer developer based in Bacolod City, Negros Occidental. 
        -# %br/
        " I strive to build efficient and appealing applications through carefully crafted code "
      .social-media.d-flex.justify-content-center 
      -#   %i.bi.bi-facebook 
      -#   %i.bi.bi-instagram
      -#   %i.bi.bi-linkedin  
  #about-section
    = render partial: '/web/pages/partials/about_v2'
  #services-section
    %h1 Services
    .d-flex.justify-content-evenly 
      .card 
        .card-body 
          .icon-container 
            %i.bi.bi-laptop 
          .h5 Web Development
          .text 
            Creation of 
            %b Dynamic
            and 
            %b Fully Responsive 
            Websites ranging from Personal to Commercial Use. Integrated with database using PostgreSQL.
      .card 
        .card-body 
          .icon-container 
            %i.bi.bi-gear
          .h5 API Development
          .text Building Backend APIs that will support Frontend Applications. Integrated with database using PostgreSQL.
      .card 
        .card-body 
          .icon-container 
            %i.bi.bi-phone 
          .h5 Mobile Development
          .text 
            Building
            %b Dynamic 
            and 
            %b Fully Responsive
            Mobile Applications supported with Backend APIs and with PostgreSQL database for both 
            %b IoS 
            and 
            %b Android
            platforms.
#projects-section 
-# #contact-section 
-#   .bg
-#   .bg-overlay
-#   .d-flex.justify-content-end
-#     .card 
-#       .card-body 
-#         %h1 Let's Build Together
-#         = form_with(url: '/inquiries',
  method: :post) do |f|
-#           = f.text_field :name, {class: 'form-control', placeholder: 'Name', "data-web_pages_index-target" => "contactName"}

-#           = f.text_field :email, {class: 'form-control', placeholder: 'Email', "data-web_pages_index-target" => "contactEmail"}

-#           = f.text_field :mobile_number, {class: 'form-control', placeholder: 'Phone Number', "data-web_pages_index-target" => "contactMobile"}

-#           = f.text_area :body, {class: 'form-control', placeholder: 'Share your thoughts', "data-web_pages_index-target" => "contactBody"}

-#           %center 
-#             = f.submit :Send, {class: 'btn btn-dark', data: {action: 'click->web_pages_index#contact_submit'}}
        