.image-container.d-flex.justify-content-end
  = image_tag asset_path("about-image.png")
.text-container 
  %h1 About Me
  %p.text &emsp;&emsp; I am a passionate developer with over 1 year and a half of experience in a small software tech company. Experienced with all stages of the development cycle for dynamic web projects. 
  %p.text &emsp;&emsp; I started to code when I was 16 years old and I am a self-taught developer. Mark Zuckerberg enchanted me to pursue programming and be part of the creators of the digital world.
  %p.text 
    %table 
      %tr 
        %td Email:
        %td 
          %b pb.marcuelo@gmail.com 
      %tr 
        %td Age:
        %td 
          %b 21
      %tr 
        %td Address:
        %td 
          %b Bacolod City, Negros Occidental 
      %tr 
        %td Nationality:
        %td 
          %b Filipino