%h1 Projects
.projects-container 
  %ul.project-list 
    %li.card 
      .card-body 
        .name Faces By Places 
        .category API Development 
        .link 
          %a{href: "https://facesbyplaces.com/", target: '_blank'} Website
        .about 
          %b Faces By Places
          is a mobile application that takes memorials to a higher standard. A platform that celebrates life's journey by keeping yesterday's moments alive today one face and place at a time.
        .job-description 
          .label Job
          %ul 
            %li Backend API from scratch 
            %li MVP and few extra features
    %li.card 
      .card-body 
        .name Flair People Legacy 
        .category Web Development 
        .link 
          %a{href: "https://eventstaffing.co.uk/", target: '_blank'} Website
        .about 
          %b Flair People Legacy
          is a web application that organize, hires, and give services such as organizing events.
        .job-description 
          .label Job
          %ul 
            %li Updated Website's Interface 
            %li Added New Features in their Admin System and Hiring System
            %li Fixed Bugs
    %li.card 
      .card-body 
        .name Benedicto Enrollment System
        .category Web Development 
        .link 
          -# %a{href: "https://eventstaffing.co.uk/", target: '_blank'} Website
          Private
        .about 
          %b Benedicto College
          is a school located in Cebu City and Mandaue City. They organized the enrollment of their students using this system.
        .job-description 
          .label Job
          %ul 
            %li Added New Features in their Admin System
            %li Fixed Bugs
    %li.card 
      .card-body 
        .name Helpur
        .category API Development
        .link 
          %a{href: "https://helpur.app/", target: '_blank'} Website
        .about 
          %b Helpur
          is a mobile application that allows people to post a job or to apply for a job in their local vicinity.
        .job-description 
          .label Job
          %ul 
            %li Added New APIs
            %li Fixed Bugs
    %li.card 
      .card-body 
        .name KidBuxx
        .category Web Development
        .link 
          -# %a{href: "https://helpur.app/", target: '_blank'} Website
          Private
        .about 
          %b KidBuxx
          is a web application that allows parent to assign organized tasks to their kids and after the kids finished the tasks they are rewarded with credits in the website.
        .job-description 
          .label Job
          %ul 
            %li Build the Parent and Kid portals
            %li MVP only
    %li.card 
      .card-body 
        .name Find It Foxie
        .category 
          API Development 
          %br/ 
          Web Development
        .link 
          %a{href: "https://finditfoxie.com/", target: '_blank'} Website
        .about 
          %b Find It Foxie
          is a mobile application that helps people to find things that they want to get in a establishment by showing a map on the screen.
        .job-description 
          .label Job
          %ul 
            %li Build the Admin and Establishment portals
            %li MVP and other features
            %li Geocode calculation
            %li Backend APIs from scratch
    %li.card 
      .card-body 
        .name Matey
        .category API Development 
        .link 
          %a{href: "https://matey.app/", target: '_blank'} Website
        .about 
          %b Matey
          is a mobile application that connects creators to collaborate and to showcase their works.
        .job-description 
          .label Job
          %ul 
            %li Added New APIs
            %li Fixed Bugs